
/* This file is applying styles on the extra.html(prototype of main file) */
/* All the warnings ouccr because of the animation's properties. */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: helvetica;
}
*::selection{
    color:black;
    background-color: white;
}
html{
    scroll-behavior: smooth;
}
html,body{
    width:100%;
    height:100%;
}

.about{
    height:auto;
    width:80%;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: auto;
    margin-bottom: 10vw;
}
 
.about h3{
    text-align: center;
    border:none;
    outline: none;
    border-radius: 50px;
    width:clamp(50px,10%,20%);
    margin: auto;
    margin-top:2vw;
    margin-bottom:2vw;
    padding:0.5vw;
    color:#0663a4;
    background-color: #e7f1fd;
    font-size: clamp(12px,1.4vw,2vw);
    font-weight: 600;
    font-family: helvetica;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;

}
.rm{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
}
.sm{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
}
.sm input[name="sm"]{
    margin-left:2vw;
    padding:10px;
    font-size:clamp(13px,1vw,1.5vw);
    text-decoration: none;
    color:#666666;
    background: none;
    border: none;
    outline: none;
    border:0.15vw solid #dee2e6;
    border-radius: 20px;
    transition: 0.3s;
}
.sl{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
}
.smt{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
}
.slt{
    display: none;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
}
.smt input[name="smt"]{
    margin-top:1vw;
    margin-left:10vw;
    padding:10px;
    font-size:clamp(13px,1vw,1.5vw);
    text-decoration: none;
    color:#666666;
    background: none;
    border: none;
    outline: none;
    border:0.15vw solid #dee2e6;
    border-radius:20px;
    transition: 0.3s;
}
.slt input[name="slt"]{
    margin-top:1vw;
    margin-left:10vw;
    padding:10px;
    font-size:clamp(13px,1vw,1.5vw);
    text-decoration: none;
    color:#666666;
    background: none;
    border: none;
    outline: none;
    border:0.15vw solid #dee2e6;
    border-radius:20px;
    transition: 0.3s;
}
.rm input[name="rm"]{
    margin-left:2vw;
    padding:10px;
    font-size:clamp(13px,1vw,1.5vw);
    text-decoration: none;
    color:#666666;
    background: none;
    border: none;
    outline: none;
    border:0.15vw solid #dee2e6;
    border-radius: 20px;
    transition: 0.3s;

}
.sl input[name="sl"]{
    margin-left:2vw;
    padding:10px;
    font-size:clamp(13px,1vw,1.5vw);
    text-decoration: none;
    color:#666666;
    background: none;
    border: none;
    outline: none;
    border:0.15vw solid #dee2e6;
    border-radius: 20px;
    display: none;
    transition: 0.3s;
}
.rm input:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.rm input:active{
    transform: scale(0.9);
}
.sl input:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.sl input:active{
    transform: scale(0.9);
}
.sm input:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.sm input:active{
    transform: scale(0.9);
}
.smt input:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.smt input:active{
    transform: scale(0.9);
}
.slt input:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.slt input:active{
    transform: scale(0.9);
}
.about1 .abt_para1{
    display: none;
}
.about1 h1{
    text-align: center;
    color:#0663a4;
    width:300px;
    margin: auto;
    margin-top:0vw;
    margin-bottom:1vw;
    font-family: helvetica;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.about1 p{
    text-align: justify;
    padding:0vw 2vw;
    font-size: clamp(13px,1.1vw,1.7vw);
    font-family: helvetica;
    color:#444444;
    line-height: 20px;
    letter-spacing: 0vw;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.abt_para2{
    display: none;
}
.about2 h1{
    text-align: center;
    color:#0663a4;
    width:25%;
    margin: auto;
    margin-top:5vw;
    margin-bottom:1vw;
    font-family: helvetica;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.about2 p{
    text-align: justify;
    padding:0vw 2vw;
    font-size: clamp(13px,1.1vw,1.7vw);
    font-family: helvetica;
    line-height: 20px;
    letter-spacing: 0vw;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.dates{
    width: 80%;
    background-color:white;
    position: relative;
    margin: auto;
}
.dates h3{
    text-align: center;
    border:none;
    outline: none;
    border-radius: 50px;
    width:clamp(130px,17%,20%);
    margin: auto;
    margin-top:2vw;
    margin-bottom:2vw;
    padding:0.5vw;
    color:#0663a4;
    background-color: #e7f1fd;
    font-size: clamp(13px,1.4vw,1.9vw);
    font-weight: 600;
    font-family: helvetica;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.date_table{
    border:0.15vw solid #dee2e6;
    width:80%;
    border-collapse: collapse;
    margin: auto;
    position: relative;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
}
.date_table tr, th{
    font-size: clamp(15px,1.5vw,2vw);
    font-weight: 600;
    color:#444444;
    border:0.15vw solid #dee2e6;
    padding:10px;
    position: relative;
}
.date_table tr, td{
    font-size: clamp(12px,1vw,1.5vw);
    font-weight: 600;
    color:#444444;
    border:0.15vw solid #dee2e6;
    padding:20px;
}
.td2{
    width:80%;
}
.objectives{
    height:auto;
    width:80%;
    background-color:white;
    display: block;
    margin: auto;
}
.objectives h3{
    text-align: center;
    border:none;
    outline: none;
    border-radius: 50px;
    width:clamp(100px,12%,20%);
    margin: auto;
    margin-top:2vw;
    margin-bottom:2vw;
    padding:5px;
    color:#0663a4;
    background-color: #e7f1fd;
    font-size: clamp(13px,1.4vw,1.9vw) ;
    font-weight: 600;
    font-family: helvetica;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.objectives p{
    text-align: justify;
    padding:0vw 2vw;
    font-size: clamp(13px,1.1vw,1.6vw);
    font-family: helvetica;
    color:#444444;
    line-height: 20px;
    letter-spacing: 0vw;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}

.committee{
    height: auto;
    width:80%;
    position: relative;
    margin: auto;
}
.committee .cm_h3{
    text-align: center;
    border:none;
    outline: none;
    border-radius: 50px;
    width:clamp(100px,14%,19%);
    margin: auto;
    margin-top:2vw;
    margin-bottom:2vw;
    padding:5px;
    color:#0663a4;
    background-color: #e7f1fd;
    font-size: clamp(13px,1.4vw,1.9vw);
    font-weight: 600;
    font-family: helvetica;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.committee h1{
    width:100%;
    text-align: center;
    color:#0663a4;
    margin-bottom: 0.4vw;
    margin-top:1vw;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.committee hr{
    width: 100%;
    border: 0.07vw solid #dee2e6;
    margin-bottom: 0.5vw;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c1_info h3{
    width: 100%;
    color:#444444;
    text-align: center;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c1_info p{
    font-size: clamp(13px,1.2vw,1.6vw);
    width:100%;
    color:#444444;
    text-align:center;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c2_info ul{
    padding-left: 1vw;
    line-height: 20px;
    color:#444444;
    font-size: clamp(12px,1vw,1.5vw);
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c3_info h3{
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c3_info ul{
    padding-left: 1vw;
    line-height: 20px;
    font-size: clamp(13px,1vw,1.5vw);
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c4_info ul{
    padding-left: 1vw;
    line-height: 20px;
    font-size: clamp(13px,1vw,1.5vw);
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c5_info{
    width:100%;
    display: flex;
    justify-content: left;
    gap:2vw;
    position: relative;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c5_info1{
    width:20%;
}
.c5_info1 ul{
    padding-left: 1vw;
    line-height: 20px;
    font-size: clamp(13px,1vw,1.5vw);
}
.c5_info2 p{
    padding-left: 1vw;
    line-height: 20px;
    font-size: clamp(13px,1vw,1.5vw);
}
.committee h2{
    width:100%;
    text-align: center;
    color: #0663a4;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c6_info{
    width:100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    gap:1vw;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c6_info ul{
    padding-left: 1vw;
    line-height: 20px;
    font-size: clamp(13px,1vw,1.5vw);
    /*list-style: none;*/
}

.c7_info{
    width:100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    gap:1vw;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c7_info ul{
    padding-left: 1vw;
    line-height: 20px;
    font-size: clamp(13px,1vw,1.5vw);
}

.c8_info{
    width:100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    gap:1vw;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c8_info ul{
    padding-left: 1vw;
    line-height: 20px;
    font-size: clamp(13px,1vw,1.5vw);
}
.c9_info{
    width:100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    gap:1vw;
    color:#444444;
    margin-bottom: 1vw;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c9_info ul{
    padding-left: 1vw;
    line-height: 20px;
    font-size: clamp(13px,1vw,1.5vw);
}
.c7_info_parent{
    width:100%;
    position: relative;
}
.c8_info_parent{
    width:100%;
    position: relative;
}
.c9_info_parent{
    width:100%;
    position: relative;
}
.c7_info_child1{
    display: none;
    transition: 1s;
}
.c7_info_child2{
    display: none;
}
.c8_info_child1{
    display: none;
}
.c8_info_child2{
    display: none;
}
.c9_info_child1{
    display: none;
}
.c9_info_child2{
    display: none;
}




.track_parent{
    height:auto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.track{
    height:100%;
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
}
.t_h3{
    text-align: center;
    border:none;
    outline: none;
    border-radius: 5vw;
    width:clamp(200px,25%,30%);
    margin: auto;
    margin-top:2vw;
    margin-bottom:2vw;
    padding:5px;
    color:#0663a4;
    background-color: #e7f1fd;
    font-size: clamp(13px,1.4vw,1.8vw);
    font-weight: 600;
    font-family: helvetica;
}
.track_table{
    height:auto;
    width:80%;
    position: relative;
    border-collapse: collapse;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
}
.track_table th{
    font-size: clamp(15px,1.5vw,2vw);
    font-weight: 600;
    color:#444444;
    border:0.15vw solid #dee2e6;
    padding:20px;
    position: relative;
}
.track_table td{
    font-size: clamp(13px,1.3vw,1.8vw);
}
.track_table td:hover a{
    color:#f5b419;
}
.track_table a{
    text-decoration: none;
    color:#444444;
    transition: 0.3s;
}
.sr_td{
    text-align: center;
}
.contect{
    height:auto;
    width:80%;
    background-color:white;
    display: block;
    margin: auto;
    margin-bottom: 5vw;
}
.c_h3{
    text-align: center;
    border:none;
    outline: none;
    border-radius: 5vw;
    width:clamp(100px,12%,15%);
    margin: auto;
    margin-top:2vw;
    margin-bottom:2vw;
    padding:5px;
    color:#0663a4;
    background-color: #e7f1fd;
    font-size: clamp(13px,1.4vw,1.8vw) ;
    font-weight: 600;
    font-family: helvetica;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1vw;
    position: relative;
}
.c1{
    width:clamp(400px,50%,90%);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.2);
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c1 .icon{
    padding-top: 2vw;
    width:100%;
    text-align: center;
    font-size: clamp(13px,2vw,2.5);
    font-weight: 600;
    color:#0663a4;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c1 h1{
    width:100%;
    text-align: center;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c1 p{
    width:100%;
    text-align: center;
    padding-bottom: 2vw;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c2{
    width:clamp(400px,50%,90%);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.2);
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c2 .icon{
    padding-top: 2vw;
    width:100%;
    text-align: center;
    font-size: clamp(13px,2vw,2.5);
    font-weight: 600;
    color:#0663a4;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c2 h1{
    width:100%;
    text-align: center;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c2 p{
    width:100%;
    text-align: center;
    padding-bottom: 2vw;
    color:#444444;
    font-weight: 600;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c3{
    width:clamp(400px,50%,90%);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.2);
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c3 .icon{
    padding-top: 2vw;
    width:100%;
    text-align: center;
    font-size: clamp(13px,2vw,2.5);
    font-weight: 600;
    color:#0663a4;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c3 h1{
    width:100%;
    text-align: center;
    color:#444444;
    padding-bottom: 1vw;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c3 .c3_h3{
    width:100%;
    text-align: center;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c3 h4{
    width:100%;
    text-align: center;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c3 h5{
    width:100%;
    text-align: center;
    padding-bottom: 2vw;
    color:#444444;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c4{
    width:100%;
    border:0.15vw solid #0663a4;
    position: relative;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 50%;
}
.c4 iframe{
    width:100%;
}


#preloader{
    height:100%;
    width:100%;
    position: fixed;
    background: #ffff url(./images/loader.gif) no-repeat center;
    background-size: 7%;
    z-index: 100;
}
@keyframes up {
    from{
        opacity:0;
    }

}
@keyframes reveal {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
    
}
@keyframes fade{
    to{
        opacity: 1;
        transform: translateZ(0);
    }
}
.navbar_parent{
    width:100%;
    height: 100px;
    background-color: white;
    position: fixed;
    z-index: 2;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.2);
}
.navbar{
    width:100%;
    height:100%;
    position: relative;
    display: flex;
}
.n_left{
    height: 100%;
    width:20%;
    display: flex;
    justify-content: center;
    border-right:0.15vw solid #dee2e6;
}
.n_left .img_holder{
    height: 100%;
    width:50%;
    /*background-color: #dee2e6;*/
    background: url(./images/fgstemh_logo1.jpg) no-repeat center / cover;
    background-size: 100%;
    mix-blend-mode: multiply;
}
.n_right{
    height:100%;
    width:75%;
    /*background-color: antiquewhite;*/
    display: flex;
    align-items: center;
    padding-left: 4vw;
    gap:2vw;
    font-size: clamp(13px,1.3vw,1.8vw);
    font-weight: 550;
}
.n_right a{
    text-decoration: none;
    color:#444444;
    transition: 0.4s;
}
.dropdown_parent{
    position: relative;
}
.dropdown{
    position:absolute;
    line-height: 2.5vw;
    background-color:white;
    z-index: 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left:0.5vw;
    padding-right:0.5vw;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.2);
    opacity: 0;
}
.dropdown a{
    font-size: clamp(13px,1.2vw,1.8vw);
    width:100%;
    border-top: 0.15vw solid #dee2e6;
}

.n_right a:hover{
    color:#f5b419;
}
.dropdown_parent:hover .dropdown{
    opacity: 1;
    transform: translateY(0);
    animation: up 1s forwards;
}
.n_icon{
    height: 100%;
    width:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    padding-right: 2vw;
}
.n_icon i{
    font-size: clamp(30px,1.4vw,2vw);
    color:#444444;
    cursor: pointer;
    transition: 0.3s;
}
.n_icon i:hover{
    color:#f5b419;
}
.n_icon i:active{
    transform: scale(0.9);
}
.banner{
    height:calc(100% - 100px);
    width:100%;
    background:url(./images/header2.jpg) no-repeat center / cover ;
    z-index: -2;
    filter: brightness(50%);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5vw;
}
.banner_left{
    height:65%;
    width:25%;
    background: url(./images/fgstemh_logo.jpg) no-repeat center / cover;
}
.banner_right{
    height:65%;
    width:65%;
    background:url(./images/cvm_logo.png)  no-repeat center / cover;
    background-size: 80%;
}

.footer_parent{
    height:50%;
    width:100%;
    background-color: aliceblue;
    position: relative;
}
.footer{
    height:100%;
    width:100%;
    display: flex;
    position: relative;
}
.f_left{
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    position: relative;
}
.f_img_holder{
    height:50%;
    width:100%;
    background: url(./images/cvm_logo.png) no-repeat center / cover;
    background-size: 60%;
    mix-blend-mode: multiply;
}
.f_middle{
    height:100%;
    width:25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:1vw;  
    line-height: 4vw;
    color:#444444;
    transition: 0.3s;
}
.footer i{
    transition: 0.3s;
}
.f_middle a{
    text-decoration:none;
    color: #444444;
    font-size: clamp(13px,1.2vw,1.8vw);
    transition: 0.3s;
}
.f_right{
    height: 100%;
    width:25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:1vw;
    line-height: 4vw;
    color:#444444;
    transition: 0.3s;
}
.f_right a{
    text-decoration:none;
    color: #444444;
    font-size: clamp(13px,1.2vw,1.8vw);
    transition: 0.3s;
}
.f_middle a:hover{
    color:#f5b419;
}
.f_middle a:hover i{
    color:#f5b419;
}
.f_right a:hover{
    color:#f5b419;
}
.f_right a:hover i{
    color:#f5b419;
}
.menubar_parent{
    background-color:white;
    height:auto;
    width: 100%;
    z-index: 10;
    position: fixed;
    display: none;
}
.menubar{
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
}
.m_top{
    height: 10%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2vw;
    padding-right: 2vw;
}
.m_top i{
    cursor: pointer;
    font-size: clamp(30px,2vw,4vw);
    color:#444444;
    transition: 0.3s;
}
.m_top i:hover{
    color:#f5b419;
}
.m_top i:active{
    transform: scale(0.9);
}
.m_bottom{
    width: 100%;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-left:2vw;
    line-height: 40px;
}
.m_bottom a{
    text-decoration: none;
    color:#444444;
    border-bottom: 0.15vw solid #dee2e6;
}
.m_bottom_child{
    display: flex;
    flex-direction: column;
    padding-left:4vw;
    display: none;     
}
.m_bottom a:hover{
    color:#f5b419;
    background-color:aliceblue;
}
@media (max-width:1000px){
    .banner_left{
        background-size: 100%;
    }
}
@media (max-width:900px){
    .navbar{
        justify-content: space-between;
    }
    .n_right{
        display: none;
    }
    .n_icon{
        display: flex;
    }
}
@media (max-width:700px){
    .footer{
        flex-direction: column;
    }
    .f_left{
        width: 100%;
    }
    .f_img_holder{
        height:70%;
        background-size: 50%;
    }
    .f_middle{
        width:100%;
    }
    .f_right{
        width:100%;
    }
}